#about .about_container_wrapp .about_wrapp .about_flag, #other_services .oth_service_wrapp .oth_services_item .oth_services_flag, #choose_us .our_profit, #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item .contact_item_ic {
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; }

body {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  line-height: 1.6;
  margin: 0;
  overflow-x: hidden; }

a, a:hover, a:focus, button {
  outline: none; }

a.btn {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style-type: none; }

.hidden {
  display: none; }

.active {
  display: block; }

.container {
  width: 1170px;
  margin: 0 auto; }

button.btn {
  display: block;
  width: 170px;
  height: 50px;
  background: #ff7200;
  line-height: 50px;
  letter-spacing: 2.5px;
  font-size: 0.81em;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer; }

.section_named {
  display: block;
  width: 100%;
  font-size: 1.5em;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 25px; }
  .section_named::after {
    display: block;
    width: 40px;
    height: 2px;
    background: #ff7200;
    content: ""; }

/*.owl-controls
 * display: block
 * width: 100px
 * height: 50px
 * background: green
 * position: absolute
 * top: 0
 * left: 0 */
header {
  width: 100%;
  height: 935px;
  background: url(../img/head_sl_1.jpg)-265px -75px no-repeat; }
  header .header_wrapp {
    display: block;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.7); }
    header .header_wrapp .header_info {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-top: 50px; }
      header .header_wrapp .header_info .logo, header .header_wrapp .header_info footer .footer_section .logo {
        width: 129px;
        height: 50px;
        background: url(../img/logo.png) no-repeat; }
      header .header_wrapp .header_info .nav_mnu {
        display: flex;
        width: 65%;
        flex-direction: column;
        justify-content: space-around; }
        header .header_wrapp .header_info .nav_mnu ul {
          display: flex;
          justify-content: space-between; }
        header .header_wrapp .header_info .nav_mnu ul > li > a {
          color: #ffffff;
          font-size: 0.8em;
          letter-spacing: 1px;
          margin: 2% 4.7% 0 0;
          position: relative;
          text-transform: uppercase;
          text-decoration: none; }
          header .header_wrapp .header_info .nav_mnu ul > li > a::last-child {
            margin: 0 0 0 0; }
          header .header_wrapp .header_info .nav_mnu ul > li > a:hover {
            color: #ff7200;
            transition: color 0.5s; }
          header .header_wrapp .header_info .nav_mnu ul > li > a::before {
            position: absolute;
            top: 55px;
            left: 0;
            width: 100%;
            height: 2px;
            background: transparent;
            content: ""; }
          header .header_wrapp .header_info .nav_mnu ul > li > a:hover::before {
            transition: all 0.5s;
            background: #ff7200; }
    header .header_wrapp .header-text {
      display: block;
      padding-top: 320px;
      text-align: center;
      color: #ffffff; }
      header .header_wrapp .header-text .text-gl {
        display: block;
        text-transform: uppercase;
        font-size: 3.75em;
        line-height: 60px;
        letter-spacing: 1px; }
      header .header_wrapp .header-text .text-descr {
        display: block;
        line-height: 60px;
        letter-spacing: 1px;
        font-size: 0.81rem; }
    header .header_wrapp .button_wrapp {
      margin-top: 75px;
      display: flex;
      justify-content: center; }

#services {
  display: block;
  height: auto; }
  #services .design_wrapp {
    display: flex;
    height: 285px;
    justify-content: space-between; }
    #services .design_wrapp .design {
      width: 22%;
      height: 179px;
      position: relative;
      text-align: center;
      background: url(../img/svg/polygon.svg) no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #services .design_wrapp .design:hover {
        transition: all 0.5s;
        color: #ffffff; }
      #services .design_wrapp .design .web_design_ic, #services .design_wrapp .design .web_app_ic, #services .design_wrapp .design .web_grafic_ic, #services .design_wrapp .design .web_game_ic {
        display: block;
        width: 40px;
        height: 36px;
        background: url(../img/svg/ic_web-design.svg) center center no-repeat;
        margin: 0 0 25px 0; }
      #services .design_wrapp .design .web_app_ic {
        width: 24px;
        height: 39.32px;
        background: url(../img/svg/ic_app-design.svg) center center no-repeat; }
      #services .design_wrapp .design .web_grafic_ic {
        width: 39.42px;
        height: 39px;
        background: url(../img/svg/ic_grafic-design.svg) center center no-repeat; }
      #services .design_wrapp .design .web_game_ic {
        width: 40px;
        height: 39px;
        background: url(../img/svg/ic_game-design.svg) center center no-repeat; }
      #services .design_wrapp .design .design_name {
        display: block;
        color: #444444;
        font-size: 1em;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5px; }
        #services .design_wrapp .design .design_name:hover {
          transition: all 0.5s;
          color: #ffffff; }
  #services .design_text_wrapp {
    display: flex;
    justify-content: space-between; }
    #services .design_text_wrapp .design_text_wrapp {
      flex-direction: column; }
      #services .design_text_wrapp .design_text_wrapp .design_text {
        font-size: 0.8em;
        line-height: 30px;
        color: #787878; }
      #services .design_text_wrapp .design_text_wrapp button.btn {
        margin-top: 25px; }
    #services .design_text_wrapp .design_img_wrapp {
      display: inline-block;
      width: 50%; }
      #services .design_text_wrapp .design_img_wrapp .img_macbook {
        display: inline-block;
        width: 530px;
        height: 391px;
        background: url(../img/macbook.png) no-repeat; }
  #services .featured_work_wrapp {
    display: block;
    margin-top: 135px;
    padding-bottom: 170px; }
    #services .featured_work_wrapp .featured_img_wrapp {
      display: flex;
      width: 50%;
      height: 340px;
      margin-right: 30px; }
      #services .featured_work_wrapp .featured_img_wrapp .featured_img {
        display: block;
        width: 100%; }
        #services .featured_work_wrapp .featured_img_wrapp .featured_img .feat_img {
          display: block;
          width: 100%; }
    #services .featured_work_wrapp .featured_work_wrapp_all {
      display: flex; }
      #services .featured_work_wrapp .featured_work_wrapp_all .featured_text_wrapp {
        display: flex;
        flex-direction: column; }
        #services .featured_work_wrapp .featured_work_wrapp_all .featured_text_wrapp .featured_named {
          font-size: 1em;
          line-height: 24px;
          text-transform: uppercase;
          color: #444444;
          letter-spacing: 0.5px; }
        #services .featured_work_wrapp .featured_work_wrapp_all .featured_text_wrapp .featured_text {
          font-size: 0.875em;
          line-height: 30px;
          letter-spacing: 0.25px;
          color: #787878;
          margin: 18px 0; }
        #services .featured_work_wrapp .featured_work_wrapp_all .featured_text_wrapp .info_client {
          display: block;
          font-size: 0.875em;
          line-height: 30px;
          color: #787878; }
        #services .featured_work_wrapp .featured_work_wrapp_all .featured_text_wrapp button.btn {
          background: none;
          color: #444444;
          border: 1px solid #dddddd;
          margin-top: 50px;
          letter-spacing: 1.5px; }
          #services .featured_work_wrapp .featured_work_wrapp_all .featured_text_wrapp button.btn:hover {
            background: #ff7200;
            color: #ffffff;
            transition: all 0.5s;
            border: none; }

#video_play {
  background: url(../img/fon_player.jpg) center -105px no-repeat;
  color: #ffffff; }
  #video_play .video_wrapp {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #video_play .btn_play {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../img/video_play.png) no-repeat;
    margin: 0 0 25px 0; }
  #video_play .video_descr {
    display: block;
    font-size: 1.5em;
    line-height: 30px;
    text-transform: uppercase; }

#about {
  margin: 110px 0 140px 0; }
  #about .about_container_wrapp {
    display: flex;
    width: 100%;
    flex-wrap: wrap; }
    #about .about_container_wrapp .about_wrapp {
      display: flex;
      width: 68%;
      flex-direction: column; }
      #about .about_container_wrapp .about_wrapp .about_item_wrapp {
        display: flex;
        width: 100%;
        height: auto;
        margin-bottom: 60px; }
      #about .about_container_wrapp .about_wrapp .about_flag {
        display: block;
        width: 5.313rem;
        height: 6.563rem;
        position: relative; }
        #about .about_container_wrapp .about_wrapp .about_flag:hover {
          background: #ff7200;
          transition: all 0.5s;
          border: none; }
        #about .about_container_wrapp .about_wrapp .about_flag::before, #about .about_container_wrapp .about_wrapp .about_flag::after {
          content: "";
          position: absolute;
          border-top: 1px solid #dddddd;
          width: 3.344rem;
          height: 1px;
          left: 3.5625rem;
          border-bottom: 13px solid #ffffff;
          overflow: hidden; }
        #about .about_container_wrapp .about_wrapp .about_flag::before {
          top: 1.281rem;
          transform: rotate(78deg); }
        #about .about_container_wrapp .about_wrapp .about_flag::after {
          top: 4.313rem;
          transform: rotate(102deg); }
        #about .about_container_wrapp .about_wrapp .about_flag:hover::before, #about .about_container_wrapp .about_wrapp .about_flag:hover::after {
          transition: all 0.5s;
          border-bottom: 15px solid #ff7200;
          border-top: none; }
      #about .about_container_wrapp .about_wrapp .about_item_text_wrapp {
        width: 64%;
        margin-left: 40px; }
      #about .about_container_wrapp .about_wrapp .about_name {
        display: block;
        font-size: 1em;
        line-height: 30px;
        color: #444444;
        letter-spacing: 0.5px; }
      #about .about_container_wrapp .about_wrapp .about_descr {
        display: block;
        width: 81%;
        font-size: 0.875em;
        line-height: 24px;
        color: #787878;
        letter-spacing: 0.25px; }
    #about .about_container_wrapp .ipad_wrapp .ipad_img {
      display: inline-block;
      width: 363px;
      height: 570px;
      background: url(../img/phone.png) no-repeat;
      position: relative; }
    #about .about_container_wrapp .ipad_wrapp .item {
      display: block;
      width: 296px;
      height: 396px;
      margin: 47px 0 0 26px;
      overflow: hidden; }
      #about .about_container_wrapp .ipad_wrapp .item .item_wrapp_1, #about .about_container_wrapp .ipad_wrapp .item .item_wrapp_2 {
        display: block;
        width: 100%;
        height: 400px;
        background: url(../img/screen1.jpg) top center no-repeat; }
      #about .about_container_wrapp .ipad_wrapp .item .item_wrapp_2 {
        background: url(../img/screen2.jpg) top center no-repeat; }
    #about .about_container_wrapp .about_general_wrapp {
      display: flex; }
      #about .about_container_wrapp .about_general_wrapp .about_general_goals {
        display: flex;
        width: 48%;
        justify-content: space-between;
        flex-direction: column;
        margin-right: 2%; }
        #about .about_container_wrapp .about_general_wrapp .about_general_goals .general_goals {
          display: flex;
          justify-content: space-between; }
          #about .about_container_wrapp .about_general_wrapp .about_general_goals .general_goals .goals {
            width: 170px;
            height: 45px;
            background: #eeeeee;
            margin: 0 3% 50px 0;
            position: relative;
            text-align: center;
            font-size: 0.8125em;
            line-height: 50px; }
            #about .about_container_wrapp .about_general_wrapp .about_general_goals .general_goals .goals:last-child {
              margin-right: 0; }
            #about .about_container_wrapp .about_general_wrapp .about_general_goals .general_goals .goals::before {
              content: "";
              position: absolute;
              top: 45px;
              border-left: 87px solid transparent;
              border-right: 87px solid transparent;
              border-bottom: 15px solid #eeeeee;
              transform: rotate(-180deg);
              left: -3px; }
        #about .about_container_wrapp .about_general_wrapp .about_general_goals .general_goals_descr {
          display: flex;
          flex-wrap: wrap;
          font-size: 0.8em;
          line-height: 30px;
          color: #787878;
          letter-spacing: 0.25px; }
          #about .about_container_wrapp .about_general_wrapp .about_general_goals .general_goals_descr .general_goals_descr_text_wrapp {
            display: flex;
            justify-content: space-between;
            width: 100%; }
            #about .about_container_wrapp .about_general_wrapp .about_general_goals .general_goals_descr .general_goals_descr_text_wrapp .items_checkbox_wrapp {
              display: flex;
              width: 100%;
              flex-wrap: wrap; }
              #about .about_container_wrapp .about_general_wrapp .about_general_goals .general_goals_descr .general_goals_descr_text_wrapp .items_checkbox_wrapp .items_checkbox {
                display: flex;
                width: 50%;
                align-items: center;
                justify-content: space-between; }
              #about .about_container_wrapp .about_general_wrapp .about_general_goals .general_goals_descr .general_goals_descr_text_wrapp .items_checkbox_wrapp .general_goals_descr_text {
                display: block;
                width: 86%; }
      #about .about_container_wrapp .about_general_wrapp .about_general_skill {
        display: block;
        width: 48%;
        float: right;
        font-size: 0.8125em;
        letter-spacing: 0.5px;
        color: #444444; }
        #about .about_container_wrapp .about_general_wrapp .about_general_skill .skill_item {
          margin-bottom: 7%;
          height: 40px; }
          #about .about_container_wrapp .about_general_wrapp .about_general_skill .skill_item:last-child {
            margin-bottom: 0; }
          #about .about_container_wrapp .about_general_wrapp .about_general_skill .skill_item .skill_name {
            display: inline-block;
            width: 89%;
            margin-bottom: 10px; }
          #about .about_container_wrapp .about_general_wrapp .about_general_skill .skill_item .skill_procent {
            display: inline-block;
            width: 10%;
            text-align: right; }
          #about .about_container_wrapp .about_general_wrapp .about_general_skill .skill_item .skill_rectangle_wrapp {
            display: flex;
            align-items: center;
            height: 8px;
            padding: 2px;
            border: 1px solid #dddddd; }
            #about .about_container_wrapp .about_general_wrapp .about_general_skill .skill_item .skill_rectangle_wrapp .skill_rectangle_color {
              display: block;
              width: 75%;
              height: 2px;
              background: #ff7200; }
            #about .about_container_wrapp .about_general_wrapp .about_general_skill .skill_item .skill_rectangle_wrapp .html {
              width: 84%; }
            #about .about_container_wrapp .about_general_wrapp .about_general_skill .skill_item .skill_rectangle_wrapp .js {
              width: 66%; }
            #about .about_container_wrapp .about_general_wrapp .about_general_skill .skill_item .skill_rectangle_wrapp .wp {
              width: 92%; }

#our_result {
  display: block;
  width: 100%;
  height: 500px;
  background: url(../img/fon_work_day.jpg) center -100px no-repeat;
  color: #ffffff; }
  #our_result .our_result_wrapp {
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.7); }
    #our_result .our_result_wrapp .result_wrapp {
      display: flex;
      height: 500px;
      justify-content: space-between;
      align-items: center; }
      #our_result .our_result_wrapp .result_wrapp .result_item {
        display: flex;
        text-align: left;
        flex-direction: column; }
        #our_result .our_result_wrapp .result_wrapp .result_item .result_current {
          display: block;
          font-size: 2.8125em;
          line-height: 90px;
          letter-spacing: 0.5px; }
        #our_result .our_result_wrapp .result_wrapp .result_item .result_img {
          display: block;
          width: 100%;
          margin-bottom: 5px; }
          #our_result .our_result_wrapp .result_wrapp .result_item .result_img .cool, #our_result .our_result_wrapp .result_wrapp .result_item .result_img .awards, #our_result .our_result_wrapp .result_wrapp .result_item .result_img .clients, #our_result .our_result_wrapp .result_wrapp .result_item .result_img .cup {
            display: inline-block;
            width: 31px;
            height: 30px;
            background: url(../img/our_results_icons/ic_creative-design.png) no-repeat; }
          #our_result .our_result_wrapp .result_wrapp .result_item .result_img .awards {
            background: url(../img/our_results_icons/ic_awards.png) no-repeat; }
          #our_result .our_result_wrapp .result_wrapp .result_item .result_img .clients {
            background: url(../img/our_results_icons/ic_clients.png) no-repeat; }
          #our_result .our_result_wrapp .result_wrapp .result_item .result_img .cup {
            width: 30px;
            height: 24px;
            background: url(../img/our_results_icons/ic_cup.png) no-repeat; }

#other_services {
  display: block;
  margin-top: 120px; }
  #other_services .section_named {
    margin-bottom: 60px; }
  #other_services .oth_service_wrapp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    #other_services .oth_service_wrapp .oth_services_item {
      display: block;
      width: 30%;
      margin-bottom: 70px; }
      #other_services .oth_service_wrapp .oth_services_item .oth_services_flag {
        display: inline-block;
        width: 53.83px;
        height: 65px;
        position: relative;
        float: left;
        margin: 0 28px 30px 0; }
        #other_services .oth_service_wrapp .oth_services_item .oth_services_flag:hover {
          background: #ff7200;
          transition: all 0.5s;
          border: none; }
        #other_services .oth_service_wrapp .oth_services_item .oth_services_flag::before, #other_services .oth_service_wrapp .oth_services_item .oth_services_flag::after {
          content: "";
          position: absolute;
          width: 36px;
          height: 1px;
          left: 35.4px;
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          border-bottom: 13px solid #ffffff;
          border-top: 1px solid #dddddd; }
        #other_services .oth_service_wrapp .oth_services_item .oth_services_flag::before {
          top: 11.8px;
          transform: rotate(73deg); }
        #other_services .oth_service_wrapp .oth_services_item .oth_services_flag::after {
          top: 40px;
          width: 35px;
          transform: rotate(107deg); }
        #other_services .oth_service_wrapp .oth_services_item .oth_services_flag:hover::before, #other_services .oth_service_wrapp .oth_services_item .oth_services_flag:hover::after {
          transition: all 0.5s;
          border-bottom: 13px solid #ff7200;
          border-top: none; }
      #other_services .oth_service_wrapp .oth_services_item .oth_services_text {
        display: block;
        font-size: 1em;
        line-height: 60px;
        color: #444444;
        float: left;
        text-transform: uppercase; }
      #other_services .oth_service_wrapp .oth_services_item .oth_services_descr {
        display: inline-block;
        color: #787878;
        font-size: 0.875em;
        left: 30px; }

#our_team {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 140px; }
  #our_team .our_team_wrapp {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px; }
    #our_team .our_team_wrapp .our_team_item {
      display: block;
      width: 100%;
      position: relative; }
      #our_team .our_team_wrapp .our_team_item .worker_1, #our_team .our_team_wrapp .our_team_item .worker_2, #our_team .our_team_wrapp .our_team_item .worker_3, #our_team .our_team_wrapp .our_team_item .worker_4 {
        display: flex;
        height: 350px;
        align-items: center;
        justify-content: center; }
      #our_team .our_team_wrapp .our_team_item .worker_1 {
        background: url(../img/our_worker_1.jpg) center 0px no-repeat; }
      #our_team .our_team_wrapp .our_team_item .info_worker {
        display: flex;
        width: 65%;
        height: 155px;
        justify-content: center;
        flex-direction: column;
        background: rgba(255, 114, 0, 0.9);
        padding: 5.5%;
        color: #ffffff;
        opacity: 0; }
        #our_team .our_team_wrapp .our_team_item .info_worker:hover {
          transition: all 0.8s;
          opacity: 1; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_name, #our_team .our_team_wrapp .our_team_item .info_worker .worker_descr {
          display: block;
          line-height: 24px; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_name {
          text-transform: uppercase; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_descr {
          font-family: "Raleway-Regular";
          margin: 10px 0 25px 0; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a {
          display: inline-block;
          width: 19%;
          height: 32px;
          border: 1px solid #ffffff;
          background: transparent;
          color: #ffffff;
          text-align: center;
          margin-right: 2%; }
          #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a:last-child {
            margin-right: 0; }
          #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a:hover {
            background: #ffffff;
            transition: all 0.3s;
            color: #ff7200; }
          #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a i {
            margin-top: 20%; }
      #our_team .our_team_wrapp .our_team_item .worker_2 {
        background: url(../img/our_worker_2.jpg) center 0px no-repeat; }
      #our_team .our_team_wrapp .our_team_item .info_worker {
        display: flex;
        width: 65%;
        height: 155px;
        justify-content: center;
        flex-direction: column;
        background: rgba(255, 114, 0, 0.9);
        padding: 5.5%;
        color: #ffffff;
        opacity: 0; }
        #our_team .our_team_wrapp .our_team_item .info_worker:hover {
          transition: all 0.8s;
          opacity: 1; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_name, #our_team .our_team_wrapp .our_team_item .info_worker .worker_descr {
          display: block;
          line-height: 24px; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_name {
          text-transform: uppercase; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_descr {
          font-family: "Raleway-Regular";
          margin: 10px 0 25px 0; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a {
          display: inline-block;
          width: 19%;
          height: 32px;
          border: 1px solid #ffffff;
          background: transparent;
          color: #ffffff;
          text-align: center;
          margin-right: 2%; }
          #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a:last-child {
            margin-right: 0; }
          #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a:hover {
            background: #ffffff;
            transition: all 0.3s;
            color: #ff7200; }
          #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a i {
            margin-top: 20%; }
      #our_team .our_team_wrapp .our_team_item .worker_3 {
        background: url(../img/our_worker_3.jpg) center 0px no-repeat; }
      #our_team .our_team_wrapp .our_team_item .info_worker {
        display: flex;
        width: 65%;
        height: 155px;
        justify-content: center;
        flex-direction: column;
        background: rgba(255, 114, 0, 0.9);
        padding: 5.5%;
        color: #ffffff;
        opacity: 0; }
        #our_team .our_team_wrapp .our_team_item .info_worker:hover {
          transition: all 0.8s;
          opacity: 1; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_name, #our_team .our_team_wrapp .our_team_item .info_worker .worker_descr {
          display: block;
          line-height: 24px; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_name {
          text-transform: uppercase; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_descr {
          font-family: "Raleway-Regular";
          margin: 10px 0 25px 0; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a {
          display: inline-block;
          width: 19%;
          height: 32px;
          border: 1px solid #ffffff;
          background: transparent;
          color: #ffffff;
          text-align: center;
          margin-right: 2%; }
          #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a:last-child {
            margin-right: 0; }
          #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a:hover {
            background: #ffffff;
            transition: all 0.3s;
            color: #ff7200; }
          #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a i {
            margin-top: 20%; }
      #our_team .our_team_wrapp .our_team_item .worker_4 {
        background: url(../img/our_worker_4.jpg) center 0px no-repeat; }
      #our_team .our_team_wrapp .our_team_item .info_worker {
        display: flex;
        width: 65%;
        height: 155px;
        justify-content: center;
        flex-direction: column;
        background: rgba(255, 114, 0, 0.9);
        padding: 5.5%;
        color: #ffffff;
        opacity: 0; }
        #our_team .our_team_wrapp .our_team_item .info_worker:hover {
          transition: all 0.8s;
          opacity: 1; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_name, #our_team .our_team_wrapp .our_team_item .info_worker .worker_descr {
          display: block;
          line-height: 24px; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_name {
          text-transform: uppercase; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_descr {
          font-family: "Raleway-Regular";
          margin: 10px 0 25px 0; }
        #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a {
          display: inline-block;
          width: 19%;
          height: 32px;
          border: 1px solid #ffffff;
          background: transparent;
          color: #ffffff;
          text-align: center;
          margin-right: 2%; }
          #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a:last-child {
            margin-right: 0; }
          #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a:hover {
            background: #ffffff;
            transition: all 0.3s;
            color: #ff7200; }
          #our_team .our_team_wrapp .our_team_item .info_worker .worker_social a i {
            margin-top: 20%; }

#choose_us {
  display: block;
  width: 100%;
  margin-top: 140px; }
  #choose_us .our_profit {
    display: block;
    width: 50%;
    margin-bottom: 20px; }
    #choose_us .our_profit:last-child {
      margin-bottom: 0; }
    #choose_us .our_profit .our_profit_wrapp {
      display: flex;
      width: 100%;
      height: 45px;
      border-bottom: 1px solid #dddddd; }
    #choose_us .our_profit .our_profit_flag {
      display: block;
      width: 45px;
      height: 45px;
      background: #eeeeee;
      margin-right: 35px;
      position: relative; }
      #choose_us .our_profit .our_profit_flag:hover {
        background: #ff7200;
        transition: all 0.5s; }
      #choose_us .our_profit .our_profit_flag::before, #choose_us .our_profit .our_profit_flag::after {
        content: "";
        position: absolute;
        left: 34px;
        width: 24px;
        height: 1px;
        border-bottom: 8px solid #eeeeee; }
      #choose_us .our_profit .our_profit_flag::before {
        top: 8px;
        transform: rotate(70deg); }
      #choose_us .our_profit .our_profit_flag::after {
        top: 28px;
        transform: rotate(107deg); }
      #choose_us .our_profit .our_profit_flag:hover::before, #choose_us .our_profit .our_profit_flag:hover::after {
        border-bottom: 8px solid #ff7200;
        transition: all 0.5s;
        border-top: none; }
    #choose_us .our_profit .clicked {
      transform: translate(540px, 0);
      transition: transform 400ms ease-in-out; }
    #choose_us .our_profit .our_profit_name {
      display: block;
      font-size: 0.8125em;
      line-height: 45px;
      letter-spacing: 0.5px;
      color: #444444;
      text-transform: uppercase;
      float: left; }
    #choose_us .our_profit .our_profit_descr {
      display: none;
      font-size: 0.875em;
      line-height: 30px;
      letter-spacing: 0.25px;
      color: #787878;
      padding: 20px;
      transition: all 1s; }
    #choose_us .our_profit .is-opened {
      display: block;
      margin-top: 25px;
      padding: 25px;
      transition: all 1s; }

#projects {
  display: block;
  width: 100%;
  margin-top: 140px; }
  #projects .project_wrapp {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between; }
    #projects .project_wrapp .section_named {
      width: 59%; }
    #projects .project_wrapp .projects_list_wrapp {
      display: flex; }
      #projects .project_wrapp .projects_list_wrapp ul li {
        display: inline-block;
        margin-right: 20px;
        font-size: 0.8em;
        line-height: 35px;
        letter-spacing: 0.5px;
        text-decoration: none;
        cursor: pointer;
        color: #444444;
        position: relative; }
        #projects .project_wrapp .projects_list_wrapp ul li:last-child {
          margin-right: 0px; }
      #projects .project_wrapp .projects_list_wrapp ul li.active {
        color: #ff7200; }
        #projects .project_wrapp .projects_list_wrapp ul li.active::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          top: 35px;
          left: 0;
          background: #ff7200; }
  #projects #portfolio_wrapp {
    display: block; }
    #projects #portfolio_wrapp .portfolio_items {
      display: flex;
      overflow: hidden;
      margin-bottom: 2.5%;
      width: 100%; }
      #projects #portfolio_wrapp .portfolio_items .proj_1 {
        display: block;
        height: 300px;
        background: url(../img/portfolio_items/proj_1.jpg) center center no-repeat; }
      #projects #portfolio_wrapp .portfolio_items .proj_1 {
        width: 48.7%; }
      #projects #portfolio_wrapp .portfolio_items span.proj_5 {
        height: 650px; }
      #projects #portfolio_wrapp .portfolio_items .proj_7, #projects #portfolio_wrapp .portfolio_items .proj_8, #projects #portfolio_wrapp .portfolio_items .proj_9,
      #projects #portfolio_wrapp .portfolio_items .proj_4 {
        width: 22.65%; }
      #projects #portfolio_wrapp .portfolio_items .proj_2 {
        width: 23.23%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_3 {
        width: 23.07%; }
      #projects #portfolio_wrapp .portfolio_items .proj_5 {
        width: 23.45%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_6 {
        width: 48.7%;
        margin: 2.5% 0; }
    #projects #portfolio_wrapp .portfolio_items {
      display: flex;
      overflow: hidden;
      margin-bottom: 2.5%;
      width: 100%; }
      #projects #portfolio_wrapp .portfolio_items .proj_2 {
        display: block;
        height: 300px;
        background: url(../img/portfolio_items/proj_2.jpg) center center no-repeat; }
      #projects #portfolio_wrapp .portfolio_items .proj_1 {
        width: 48.7%; }
      #projects #portfolio_wrapp .portfolio_items span.proj_5 {
        height: 650px; }
      #projects #portfolio_wrapp .portfolio_items .proj_7, #projects #portfolio_wrapp .portfolio_items .proj_8, #projects #portfolio_wrapp .portfolio_items .proj_9,
      #projects #portfolio_wrapp .portfolio_items .proj_4 {
        width: 22.65%; }
      #projects #portfolio_wrapp .portfolio_items .proj_2 {
        width: 23.23%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_3 {
        width: 23.07%; }
      #projects #portfolio_wrapp .portfolio_items .proj_5 {
        width: 23.45%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_6 {
        width: 48.7%;
        margin: 2.5% 0; }
    #projects #portfolio_wrapp .portfolio_items {
      display: flex;
      overflow: hidden;
      margin-bottom: 2.5%;
      width: 100%; }
      #projects #portfolio_wrapp .portfolio_items .proj_3 {
        display: block;
        height: 300px;
        background: url(../img/portfolio_items/proj_3.jpg) center center no-repeat; }
      #projects #portfolio_wrapp .portfolio_items .proj_1 {
        width: 48.7%; }
      #projects #portfolio_wrapp .portfolio_items span.proj_5 {
        height: 650px; }
      #projects #portfolio_wrapp .portfolio_items .proj_7, #projects #portfolio_wrapp .portfolio_items .proj_8, #projects #portfolio_wrapp .portfolio_items .proj_9,
      #projects #portfolio_wrapp .portfolio_items .proj_4 {
        width: 22.65%; }
      #projects #portfolio_wrapp .portfolio_items .proj_2 {
        width: 23.23%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_3 {
        width: 23.07%; }
      #projects #portfolio_wrapp .portfolio_items .proj_5 {
        width: 23.45%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_6 {
        width: 48.7%;
        margin: 2.5% 0; }
    #projects #portfolio_wrapp .portfolio_items {
      display: flex;
      overflow: hidden;
      margin-bottom: 2.5%;
      width: 100%; }
      #projects #portfolio_wrapp .portfolio_items .proj_4 {
        display: block;
        height: 300px;
        background: url(../img/portfolio_items/proj_4.jpg) center center no-repeat; }
      #projects #portfolio_wrapp .portfolio_items .proj_1 {
        width: 48.7%; }
      #projects #portfolio_wrapp .portfolio_items span.proj_5 {
        height: 650px; }
      #projects #portfolio_wrapp .portfolio_items .proj_7, #projects #portfolio_wrapp .portfolio_items .proj_8, #projects #portfolio_wrapp .portfolio_items .proj_9,
      #projects #portfolio_wrapp .portfolio_items .proj_4 {
        width: 22.65%; }
      #projects #portfolio_wrapp .portfolio_items .proj_2 {
        width: 23.23%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_3 {
        width: 23.07%; }
      #projects #portfolio_wrapp .portfolio_items .proj_5 {
        width: 23.45%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_6 {
        width: 48.7%;
        margin: 2.5% 0; }
    #projects #portfolio_wrapp .portfolio_items {
      display: flex;
      overflow: hidden;
      margin-bottom: 2.5%;
      width: 100%; }
      #projects #portfolio_wrapp .portfolio_items .proj_5 {
        display: block;
        height: 300px;
        background: url(../img/portfolio_items/proj_5.jpg) center center no-repeat; }
      #projects #portfolio_wrapp .portfolio_items .proj_1 {
        width: 48.7%; }
      #projects #portfolio_wrapp .portfolio_items span.proj_5 {
        height: 650px; }
      #projects #portfolio_wrapp .portfolio_items .proj_7, #projects #portfolio_wrapp .portfolio_items .proj_8, #projects #portfolio_wrapp .portfolio_items .proj_9,
      #projects #portfolio_wrapp .portfolio_items .proj_4 {
        width: 22.65%; }
      #projects #portfolio_wrapp .portfolio_items .proj_2 {
        width: 23.23%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_3 {
        width: 23.07%; }
      #projects #portfolio_wrapp .portfolio_items .proj_5 {
        width: 23.45%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_6 {
        width: 48.7%;
        margin: 2.5% 0; }
    #projects #portfolio_wrapp .portfolio_items {
      display: flex;
      overflow: hidden;
      margin-bottom: 2.5%;
      width: 100%; }
      #projects #portfolio_wrapp .portfolio_items .proj_6 {
        display: block;
        height: 300px;
        background: url(../img/portfolio_items/proj_6.jpg) center center no-repeat; }
      #projects #portfolio_wrapp .portfolio_items .proj_1 {
        width: 48.7%; }
      #projects #portfolio_wrapp .portfolio_items span.proj_5 {
        height: 650px; }
      #projects #portfolio_wrapp .portfolio_items .proj_7, #projects #portfolio_wrapp .portfolio_items .proj_8, #projects #portfolio_wrapp .portfolio_items .proj_9,
      #projects #portfolio_wrapp .portfolio_items .proj_4 {
        width: 22.65%; }
      #projects #portfolio_wrapp .portfolio_items .proj_2 {
        width: 23.23%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_3 {
        width: 23.07%; }
      #projects #portfolio_wrapp .portfolio_items .proj_5 {
        width: 23.45%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_6 {
        width: 48.7%;
        margin: 2.5% 0; }
    #projects #portfolio_wrapp .portfolio_items {
      display: flex;
      overflow: hidden;
      margin-bottom: 2.5%;
      width: 100%; }
      #projects #portfolio_wrapp .portfolio_items .proj_7 {
        display: block;
        height: 300px;
        background: url(../img/portfolio_items/proj_7.jpg) center center no-repeat; }
      #projects #portfolio_wrapp .portfolio_items .proj_1 {
        width: 48.7%; }
      #projects #portfolio_wrapp .portfolio_items span.proj_5 {
        height: 650px; }
      #projects #portfolio_wrapp .portfolio_items .proj_7, #projects #portfolio_wrapp .portfolio_items .proj_8, #projects #portfolio_wrapp .portfolio_items .proj_9,
      #projects #portfolio_wrapp .portfolio_items .proj_4 {
        width: 22.65%; }
      #projects #portfolio_wrapp .portfolio_items .proj_2 {
        width: 23.23%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_3 {
        width: 23.07%; }
      #projects #portfolio_wrapp .portfolio_items .proj_5 {
        width: 23.45%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_6 {
        width: 48.7%;
        margin: 2.5% 0; }
    #projects #portfolio_wrapp .portfolio_items {
      display: flex;
      overflow: hidden;
      margin-bottom: 2.5%;
      width: 100%; }
      #projects #portfolio_wrapp .portfolio_items .proj_8 {
        display: block;
        height: 300px;
        background: url(../img/portfolio_items/proj_8.jpg) center center no-repeat; }
      #projects #portfolio_wrapp .portfolio_items .proj_1 {
        width: 48.7%; }
      #projects #portfolio_wrapp .portfolio_items span.proj_5 {
        height: 650px; }
      #projects #portfolio_wrapp .portfolio_items .proj_7, #projects #portfolio_wrapp .portfolio_items .proj_8, #projects #portfolio_wrapp .portfolio_items .proj_9,
      #projects #portfolio_wrapp .portfolio_items .proj_4 {
        width: 22.65%; }
      #projects #portfolio_wrapp .portfolio_items .proj_2 {
        width: 23.23%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_3 {
        width: 23.07%; }
      #projects #portfolio_wrapp .portfolio_items .proj_5 {
        width: 23.45%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_6 {
        width: 48.7%;
        margin: 2.5% 0; }
    #projects #portfolio_wrapp .portfolio_items {
      display: flex;
      overflow: hidden;
      margin-bottom: 2.5%;
      width: 100%; }
      #projects #portfolio_wrapp .portfolio_items .proj_9 {
        display: block;
        height: 300px;
        background: url(../img/portfolio_items/proj_9.jpg) center center no-repeat; }
      #projects #portfolio_wrapp .portfolio_items .proj_1 {
        width: 48.7%; }
      #projects #portfolio_wrapp .portfolio_items span.proj_5 {
        height: 650px; }
      #projects #portfolio_wrapp .portfolio_items .proj_7, #projects #portfolio_wrapp .portfolio_items .proj_8, #projects #portfolio_wrapp .portfolio_items .proj_9,
      #projects #portfolio_wrapp .portfolio_items .proj_4 {
        width: 22.65%; }
      #projects #portfolio_wrapp .portfolio_items .proj_2 {
        width: 23.23%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_3 {
        width: 23.07%; }
      #projects #portfolio_wrapp .portfolio_items .proj_5 {
        width: 23.45%;
        margin: 0 2.5%; }
      #projects #portfolio_wrapp .portfolio_items .proj_6 {
        width: 48.7%;
        margin: 2.5% 0; }

#comments {
  width: 100%;
  height: 560px;
  background: url(../img/fon_quate.jpg) center center no-repeat;
  color: #ffffff;
  text-align: center; }
  #comments .comments_wrapp {
    display: flex;
    width: 100%;
    height: 560px;
    background-color: rgba(0, 0, 0, 0.7); }
    #comments .comments_wrapp .comments_flag {
      display: inline-flex;
      width: 80px;
      height: 65px;
      background: transparent;
      position: relative;
      margin-top: 100px;
      border-left: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      border-top: 1px solid #ffffff;
      justify-content: center;
      align-items: center; }
      #comments .comments_wrapp .comments_flag::before, #comments .comments_wrapp .comments_flag::after {
        content: "";
        position: absolute;
        height: 1px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        background: #ffffff;
        top: 69px; }
      #comments .comments_wrapp .comments_flag::before {
        width: 42px;
        left: -1.5px;
        transform: rotate(15deg); }
      #comments .comments_wrapp .comments_flag::after {
        width: 41.5px;
        left: 38.5px;
        transform: rotate(-15deg); }
      #comments .comments_wrapp .comments_flag i {
        font-size: 36px;
        line-height: 60px;
        color: #ffffff; }
    #comments .comments_wrapp .comments_text {
      display: block;
      width: 90%;
      font-size: 0.875em;
      line-height: 30px;
      letter-spacing: 0.25px;
      margin: 60px 0 55px 0; }
    #comments .comments_wrapp .comment_author {
      letter-spacing: 0.5px;
      line-height: 30px;
      font-size: 0.8em; }

#clients {
  display: flex;
  height: 435px;
  background: #eeeeee;
  align-items: center; }
  #clients .clients_item_wrapp {
    display: flex;
    justify-content: space-between; }
    #clients .clients_item_wrapp .clients_item {
      display: block;
      width: 13%; }
      #clients .clients_item_wrapp .clients_item a {
        display: inline-block;
        width: 100%;
        height: 77px;
        opacity: 0.4; }
        #clients .clients_item_wrapp .clients_item a:hover {
          opacity: 1;
          transition: all 0.5s; }
      #clients .clients_item_wrapp .clients_item .cl_1 {
        background: url(../img/clients/client_1.png) center center no-repeat; }
      #clients .clients_item_wrapp .clients_item .cl_2 {
        background: url(../img/clients/client_2.png) center center no-repeat; }
      #clients .clients_item_wrapp .clients_item .cl_3 {
        background: url(../img/clients/client_3.png) center center no-repeat; }
      #clients .clients_item_wrapp .clients_item .cl_4 {
        background: url(../img/clients/client_4.png) center center no-repeat; }
      #clients .clients_item_wrapp .clients_item .cl_5 {
        background: url(../img/clients/client_5.png) center center no-repeat; }

#contact_us {
  margin-top: 140px; }
  #contact_us .contact_us_wrapp {
    display: flex; }
    #contact_us .contact_us_wrapp .section_named {
      margin: 0 0 60px 0; }
    #contact_us .contact_us_wrapp .contact_info_wrapp {
      display: flex;
      width: 50%;
      flex-direction: column;
      position: relative; }
      #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item {
        display: flex;
        margin: 0 0 10% 0;
        height: 65px; }
        #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item::last-child {
          margin: 0 0 0 0; }
        #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item .contact_item_ic {
          display: inline-block;
          width: 7.89%;
          height: 57px;
          position: relative;
          margin-right: 55px; }
          #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item .contact_item_ic::before, #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item .contact_item_ic::after {
            content: "";
            position: absolute;
            width: 72%;
            height: 1px;
            left: 31px;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-bottom: 1px solid #dddddd; }
          #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item .contact_item_ic::before {
            transform: rotate(-108deg);
            top: 13px; }
          #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item .contact_item_ic::after {
            transform: rotate(107deg);
            top: 41px; }
        #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item .ic_1 {
          background: url(../img/ic_visit.png) 60% center no-repeat; }
        #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item .ic_2 {
          background: url(../img/ic_mail.png) 60% center no-repeat; }
        #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item .ic_3 {
          background: url(../img/ic_call.png) 60% center no-repeat; }
        #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item .ic_4 {
          background: url(../img/ic_work_hour.png) 60% center no-repeat; }
        #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item .contact_item_text_wrapp {
          display: flex;
          flex-direction: column; }
          #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item .contact_item_text_wrapp .contact_item_name {
            display: block;
            font-size: 1em;
            line-height: 30px;
            color: #444444;
            text-transform: uppercase;
            letter-spacing: 0.25px; }
          #contact_us .contact_us_wrapp .contact_info_wrapp .contact_info_item .contact_item_text_wrapp .contact_item_descr {
            display: block;
            color: #787878;
            font-size: 1em;
            line-height: 30px;
            font-family: "Raleway-Regular"; }
      #contact_us .contact_us_wrapp .contact_info_wrapp .eyeglass {
        display: block;
        width: 42.45%;
        height: 120px;
        background: url(../img/eyeglasses.png);
        position: absolute;
        right: 0;
        bottom: 25%; }
    #contact_us .contact_us_wrapp .leave_message_wrapp {
      width: 50%;
      display: flex;
      flex-direction: column; }
      #contact_us .contact_us_wrapp .leave_message_wrapp form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        #contact_us .contact_us_wrapp .leave_message_wrapp form .inputs, #contact_us .contact_us_wrapp .leave_message_wrapp form textarea {
          width: 42.6%;
          height: 20px;
          padding: 2.5%;
          border: 1px solid #dddddd;
          font-family: "Raleway-Regular";
          font-size: 0.8em;
          line-height: 36px;
          letter-spacing: 0.25px;
          color: #787878;
          margin-bottom: 3%; }
        #contact_us .contact_us_wrapp .leave_message_wrapp form textarea {
          width: 100%;
          min-height: 165px;
          margin-bottom: 7%; }

#map {
  display: flex;
  width: 100%;
  height: 160px;
  background: url(../img/fon_map.jpg) top center no-repeat;
  text-align: center;
  margin-top: 100px; }
  #map .map_wrapp {
    width: inherit;
    height: inherit;
    background: #ff7200;
    opacity: 0.9;
    align-items: center;
    display: flex;
    justify-content: center; }
    #map .map_wrapp .map_text {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 1em;
      line-height: 36px; }

footer {
  display: block;
  width: 100%;
  background: #1a1a1a;
  margin-bottom: 2%;
  padding-top: 75px; }
  footer .footer_section_wrapp {
    display: flex;
    justify-content: space-between; }
    footer .footer_section_wrapp .footer_section {
      display: block;
      width: 23.7%;
      height: auto;
      margin-right: 1.2%;
      margin-bottom: 85px; }
      footer .footer_section_wrapp .footer_section:last-child {
        margin-right: 0; }
      footer .footer_section_wrapp .footer_section .logo {
        display: block;
        width: 129px;
        height: 50px;
        background: url(../img/logo.png) no-repeat;
        margin-bottom: 20px; }
      footer .footer_section_wrapp .footer_section .logo_descr {
        font-size: 0.8em;
        line-height: 30px;
        letter-spacing: 0.25px;
        color: #999999;
        font-family: "Raleway-Regular"; }
      footer .footer_section_wrapp .footer_section .f_section_name {
        display: block;
        font-size: 1em;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #ffffff;
        text-transform: uppercase;
        position: relative; }
        footer .footer_section_wrapp .footer_section .f_section_name::before, footer .footer_section_wrapp .footer_section .f_section_name::after {
          content: "";
          position: absolute;
          top: 30px;
          left: 0;
          height: 1px;
          background: rgba(153, 153, 153, 0.5);
          width: 100%; }
        footer .footer_section_wrapp .footer_section .f_section_name::after {
          height: 2.5px;
          background: #ff7200;
          width: 11.11%; }
      footer .footer_section_wrapp .footer_section .f_nav_mnu_wrapp {
        display: flex; }
        footer .footer_section_wrapp .footer_section .f_nav_mnu_wrapp ul {
          width: 50%;
          margin-top: 20px; }
          footer .footer_section_wrapp .footer_section .f_nav_mnu_wrapp ul li a.f_mnu, footer .footer_section_wrapp .footer_section .f_nav_mnu_wrapp ul .letter_info {
            font-size: 0.8em;
            line-height: 30px;
            letter-spacing: 0.25px;
            color: #999999;
            text-decoration: none;
            font-family: "Raleway-Regular"; }
            footer .footer_section_wrapp .footer_section .f_nav_mnu_wrapp ul li a.f_mnu:hover, footer .footer_section_wrapp .footer_section .f_nav_mnu_wrapp ul .letter_info:hover {
              color: #ff7200;
              transition: all 0.3s; }
      footer .footer_section_wrapp .footer_section .letter_info {
        display: block;
        width: 100%;
        margin-top: 20px;
        font-size: 0.8em;
        line-height: 30px;
        letter-spacing: 0.5px;
        color: #999999;
        font-family: "Raleway-Regular"; }
      footer .footer_section_wrapp .footer_section input[type="email"] {
        width: 94%;
        background: transparent;
        border: 1px solid #999999;
        margin-top: 25px;
        padding: 2.5%;
        font-size: 0.8em;
        line-height: 1px;
        letter-spacing: 0.25px;
        color: #999999;
        font-family: "Raleway-Regular"; }
  footer .copyright {
    display: flex;
    width: 100%;
    background: #000000;
    height: 90px; }
    footer .copyright .copyright_wrapp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 90px; }
    footer .copyright .copy_text {
      display: block;
      font-size: 0.8em;
      line-height: 36px;
      letter-spacing: 0.25px;
      color: #dddddd;
      font-family: "Raleway-Regular"; }
    footer .copyright .social_ic_wrapp {
      display: block;
      width: 16.52%; }
      footer .copyright .social_ic_wrapp .soc_ic {
        display: inline-block;
        width: 8%;
        margin-right: 18.65%; }
        footer .copyright .social_ic_wrapp .soc_ic:last-child {
          margin-right: 0; }
        footer .copyright .social_ic_wrapp .soc_ic i {
          color: #ffffff;
          font-size: 1em; }
          footer .copyright .social_ic_wrapp .soc_ic i:hover {
            color: #ff7200;
            transition: all 0.3s; }

/*# sourceMappingURL=main.css.map */
